@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-green: #009764;
    --button-link-bg: #137e58;
    --button-link-bg-hover: #12d18f;
}

body {
    background-color: var(--background-green);
    overflow: hidden;
}

main {
    font-family: "Eurostile", sans-serif;
}

.title {
    width: fit-content;
}

.title h1 {
    text-shadow: 2px 2px 3px #164535;
}

.title img {
    filter: drop-shadow(2px 2px 3px #164535);
}

.button-link {
    width: 120px;
    padding: 0.5rem 0;
    border: 2px solid black;
    text-align: center;
    font-size: 1.25rem;
    background-color: var(--button-link-bg);
    transition: background-color 0.5s ease;
}

.button-link:hover {
    background-color: var(--button-link-bg-hover);
}

.playerhand .solution {
    display: none;
}

.playerhand.hover-enable:hover .solution {
    display: block;
    cursor: pointer;
}

@font-face {
    font-family: "Eurostile";
    src: url("./fonts/eurostile.TTF");
}
